[submodule "Src/Lib/Mojio.Client"]
	path = Src/Lib/Mojio.Client
	url = https://github.com/mojio/Mojio.Client.git
[submodule "Src/Lib/PushSharp"]
	path = Src/Lib/PushSharp
	url = https://github.com/Redth/PushSharp.git
